{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% if location is defined %}
    <a href="{{ ibexa_path(location) }}">{{ content.name }}</a>
{% else %}
    <a href="{{ ibexa_path(content) }}">{{ content.name }}</a>
{% endif %}
